.env
.env.*
!.env.example
backups/
clamav/
logs/
wp-content/uploads/
wp-content/upgrade/
wp-content/cache/
wp-content/wflogs/
wp-content/plugins/
wp-content/*.php
*.sql
*.sql.gz
*.tar
*.tar.gz
*.tgz
*.zip
*.7z
*.rar
wp-config.php
.user.ini
vendor/
node_modules/